<!DOCTYPE html>
<html>
  <head>
    <title>New Product</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New Product</h1>
    <form action="/products" method="POST" autocomplete="off">
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" name="description" placeholder="Description"><br>
        <input type="url" name="img" placeholder="Image URL"><br>
        <input type="number" name="price" placeholder="Price (dollars)"><br>
        <input type="number" name="qty" placeholder="Quantity"><br>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
