<!DOCTYPE html>
<html>

<head>
    <title>New Product</title>
    <%- include('../partials/head') %>
</head>

<body class="product_new">
    <nav>
        <a href="/products"> « All Products </a>
    </nav>
    <h1>New Product</h1>
    <form action="/products" method="POST" autocomplete="off">
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" name="description" placeholder="Description"><br>
        <input type="url" name="img" placeholder="Image URL"><br>
        <input type="text" name="price" placeholder="Price (dollars)"><br>
        <input type="number" name="qty" placeholder="Quantity"><br>
        <input type="submit" value="Submit">
    </form>
</body>